


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+DK+Loopet:wght@100..400&display=swap');

.body
{
    
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
 
}

.section-1
{
    background: rgb(255, 255, 255);
   
}
.section-1-main
{

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}


.section-1-div1
{
    padding-left: 50px;
}

.section-1-div1 h1
{

    font-size: 60px;
    color: rgb(87, 87, 87);
   
   
}
.skip
{
    color: rgb(251, 162, 79);
}
.section-1-div1 p
{
    color: rgb(130, 130, 130);

font-weight: 500;
line-height: 160%;

}
.btn1
{
    border-radius: 100px;
    border: none;
    background: linear-gradient(69.40deg, rgb(251, 162, 79) -6.919%,rgb(255, 30, 30) 144.985%);
    height: 50px;
    width: 150px;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.section-1-div2-shape
{
    height: 650px;
    width: 650px;
    background-image: url('images/shapes/Group\ 8450.png');
    background-size: cover;
    padding-left: 50px;
    margin-top: 100px;

}
.section-1-div2-shape img
{
    height: 800px;
    width: 700px;
    margin-top: -169px;
    margin-left: -142px;
}

.section-2
{
    margin-top: 100px;
    background: rgba(252, 143, 73, 0.1);
}

.circle1
{
    height: 100px;
    width: 100px;
    background: linear-gradient(69.40deg, rgb(251, 162, 79) 16.208%,rgb(255, 30, 30) 114.15%);
    border-radius: 200px 0 0 0;
    transform: rotate(180deg)
   
}



.circle2
{
    height: 100px;
    width: 100px;
    background: rgb(255, 255, 255);
    border-radius: 200px 0 0 0;
    transform: rotate(180deg)
   
}
.twocircle
{
    display: flex;
    gap: 32px;
    margin-left: 60px;

}
.section-2-div1
{
    width: 50%;
}
.section-2-div2
{
    width: 50%;
}
.person-img{
    height: 530px;
    width: 330px;
    margin-left: 190px;
}

.section-2-main
{
    display: flex;
}

.circle3
{
    margin-top: 50px;
    height: 100px;
    width: 200px;
    background: linear-gradient(69.40deg, rgb(251, 162, 79) -5.202%,rgb(255, 30, 30) 142.696%);
    opacity: 0.5;
    border-radius:  200px 200px 0 0 ;
   float: right;
  
   
}
.section-2-div2 h1
{
    margin-top: 150px;
    color: rgb(112, 112, 112);

font-size: 40px;
font-weight: 700;
line-height: 54px;
}
.section-2-div2 p
{
    color: rgb(24, 25, 31);
font-size: 22px;
font-weight: 400;
line-height: 32px;
}
.btn1
{
    margin-top: 100px;
}



/* sectiosn-3 */
.section-3
{
    background: rgb(255, 255, 255);
}
.section-3-header
{
    width: 700px;
    margin: 0 auto;
}
.section-3-header h1
{

    color: rgb(103, 103, 103);
    font-size: 42px;
}
.section-3-header p
{
    color: rgb(37, 37, 37);
    font-size: 18px;
    text-align: center;
}
.section-3-card
{
    width: 530px;
    height: 550px;
    border-radius: 30px;

box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.15);
background: rgb(255, 255, 255);
padding: 20px;
}
.section-3-card img
{
    height: 330px;
    width: 530px;
    margin-left: 10px;
}
.section-3-card h1
{
    color: rgb(24, 25, 31);
    font-size: 30px;
font-weight: 800;
line-height: 40px;
}
.section-3-card p
{
    color: rgb(24, 25, 31);
    font-size: 18px;
}
.section-3-card-main
{
    display:flex;
    gap: 10px;
}

/* section-4 */
.section-4
{
    width: 1100px;
    height: 250px;
    border-radius: 20px;

    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
    /* Default / White */
    background: rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: 50px;
}

.section-4-h1
{
    color: rgb(24, 25, 31);
    font-size: 48px;
}
.section-4-p
{
    color: rgb(24, 25, 31);
    font-size: 16px;
}
.section-4-main
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}